@{
    ViewBag.Title = "About";
}

<div class="w3-content w3-display-container">
    <img style="width:100%" class="mySlides" src="~/Content/Images/rsz_building.png">
    <img style="width:100%" class="mySlides" src="~/Content/Images/rsz_pills.jpg">
    <img style="width:100%" class="mySlides" src="~/Content/Images/rsz_scooter.jpg">
    <button class="w3-button w3-display-left" style="background-color: #39dd90" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-display-right" style="background-color: #39dd90" onclick="plusDivs(+1)">&#10095;</button>
    <div class="w3-center w3-display-bottommiddle" style="width:100%">
        <span class="w3-badge demo w3-border" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border" onclick="currentDiv(2)"></span>
        <span class="w3-badge demo w3-border" onclick="currentDiv(3)"></span>
    </div>
</div>

<div class=".container">
    <div class="col-md-12" style="text-align: center">
        <h1>Quem somos?</h1>
        <p>
            A FARMA24 é um serviço de venda e entrega ao domicílio de medicamentos e outros produtos farmaceuticos.
            Foi fundada a 5 de Outubro de 2018 pelo empreendedor Hunter Halder, fundador da Re-food, com o maior foco na entrega rápida e eficaz, e na prestação de um serviço que é bastante necessário em Portugal.
            Tem a sua base em Braga, e garante prestar aos clientes um serviço rápido e de qualidade. Como tal está disponível 24h por dia todos os dias do ano.
        </p>
    </div>
</div>

<script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-white";
        }
</script>

