@{
    ViewBag.Title = "Contactos";
}
<h1 style="text-align: center"><span style="color: #297a6d; border: solid;"><b>@ViewBag.Title</b></span></h1>

<div class="container">
    <div class="col-md-4 margin30">
        <div class="contact-option-circle">
            <i class="glyphicon glyphicon-home"></i><p>R. Dom Pedro V 88<br>4710-252 Braga</p>
        </div>
    </div>
    <div class="col-md-4 margin30">
        <div class="contact-option-circle">
            <i class="glyphicon glyphicon-earphone"></i><p class="contact-center">+351 253 273 359</p>
        </div>
    </div>
    <div class="col-md-4 margin30">
        <div class="contact-option-circle">
            <i class="glyphicon glyphicon-envelope"></i><p class="contact-center">general@farma24.pt</p>
        </div>
    </div>
</div>

<div>
    <h2 style="text-align: center"><span style="color: #297a6d;"><b>A nossa Sede!</b></span></h2>
</div>
<section>
    <div class="container">
        <div class="col-xs-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2985.734376056649!2d-8.409740282040552!3d41.553348199070605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd24fe960452c5f1%3A0x962e804a0525ab0f!2sBA-Bar+da+Associa%C3%A7%C3%A3o!5e0!3m2!1spt-PT!2spt!4v1526229515542" height="300" frameborder="0" style="border:0" allowfullscreen class="col-xs-12"></iframe>
        </div>
    </div>
</section>