@{
    ViewBag.Title = "Contactos";
}
<h1 style="text-align: center"><span style="color: #297a6d; border: solid;"><b>@ViewBag.Title</b></span></h1>

<div class="container">
    <div class="col-md-4 margin30">
        <div class="contact-option-circle">
            <i class="glyphicon glyphicon-home"></i><p>R. Dom Pedro V 88<br>4710-252 Braga</p>
        </div>
    </div>
    <div class="col-md-4 margin30">
        <div class="contact-option-circle">
            <i class="glyphicon glyphicon-earphone"></i><p class="contact-center">+351 253 273 359</p>
        </div>
    </div>
    <div class="col-md-4 margin30">
        <div class="contact-option-circle">
            <i class="glyphicon glyphicon-envelope"></i><p class="contact-center">general@farma24.pt</p>
        </div>
    </div>
</div>

<div>
    <h2 style="text-align: center"><span style="color: #297a6d;"><b>A nossa Sede!</b></span></h2>
</div>
<section>
    <div>
        <iframe width="500" height="400" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp=41.56005197818443~-8.39766451611289&lvl=16&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no"></iframe>
        <div style="white-space: nowrap; text-align: center; width: 500px; padding: 6px 0;">
            <a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=41.553099~-8.411462&lvl=18&sp=point.41,553099_-8,411462_BA-Home%20Of%20Farma%2024_Farma24">Ver Mapa Maior</a> &nbsp; | &nbsp;
            <a id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=41.56005197818443~-8.39766451611289&amp;sty=r&amp;lvl=16&amp;rtp=~pos.41.56005197818443_-8.39766451611289____&amp;FORM=MBEDLD">Obter Direções</a>
        </div>
    </div>
</section>