@using Farma24.Models
@model List<Encomenda_has_Produto>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto1.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto1.preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantidade)
            </td>

            <td>
                @Html.ActionLink("remover Produto","Edit",item)
            </td>
        </tr>
    }

</table>
